<div class="row" *ngIf="product.length != 0">
  <div class="col-md-6">
    <form (ngSubmit)="save(f.value)" #f="ngForm">
      <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          #title="ngModel"
          [(ngModel)]="product.title"
          name="title"
          type="text"
          id="title"
          class="form-control"
          minlength="4"
          required
        />
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
          <div *ngIf="title.errors?.['required']">Title is required!</div>
          <div *ngIf="title.errors?.['minlength']">
            Title length should be min 4 chars.
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            #price="ngModel"
            [(ngModel)]="product.price"
            name="price"
            type="number"
            id="price"
            class="form-control"
            [min]="10"
            required
          />
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors?.['required']">Price is required!</div>
          <div *ngIf="price.errors?.['min']">Minimum price should be $10.</div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="category" class="form-label">Category</label>
        <select
          #category="ngModel"
          [(ngModel)]="product.category"
          name="category"
          id="category"
          class="form-select"
          required
        >
          <option value=""></option>
          <option
            *ngFor="let category of categories$ | async"
            [value]="category.value"
          >
            {{ category.name }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="category.touched && category.invalid"
        >
          Category is required!
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="imgUrl" class="form-label">ImageURL</label>
        <input
          #imageUrl="ngModel"
          [(ngModel)]="product.imageUrl"
          name="imageUrl"
          id="imgUrl"
          class="form-control"
          type="text"
          url
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="imageUrl.touched && imageUrl.invalid || imageUrl.errors?.['url']"
        >
          <div *ngIf="imageUrl.errors?.['required']">Image url is required</div>
          <div *ngIf="imageUrl.errors?.['url']">
            Input text should be an url.
          </div>
        </div>
      </div>
      <button class="btn btn-primary">Save</button>
      <button
        type="button"
        *ngIf="productId"
        (click)="delete()"
        class="btn btn-danger mx-2"
      >
        Delete
      </button>
    </form>
  </div>

  <div class="col-md-6" *ngIf="imageUrl.value || title.value || price.value">
    <admin-product-card [product]="product"></admin-product-card>
  </div>
</div>
