<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th></th>
  </tr>
  <tbody>
    <tr *ngFor="let product of products$ | async">
      <td>{{ product.value.title }}</td>
      <td>{{ product.value.price }}</td>
      <td>
        <button
          class="btn btn-link"
          routerLink="/admin/products/{{ product.key }}"
        >
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
