<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>

<app-spinner
  [is-show]="filteredProduct.length === 0"
  *ngIf="filteredProduct.length === 0; else elseblock"
></app-spinner>

<ng-template #elseblock>
  <div class="my-4">
    <input
      type="text"
      #query
      (keyup)="filter(query.value)"
      class="form-control"
      placeholder="Search your food"
    />
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProduct">
        <td>{{ product.value.title }}</td>
        <td>{{ product.value.price }}</td>
        <td>
          <button
            class="btn btn-link"
            routerLink="/admin/products/{{ product.key }}"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
